attr==0.3.2
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.3
Cython==3.0.11
dash==2.14.2
dash_bootstrap_components==1.6.0
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.4
jnius==1.1.0
joblib==1.4.2
keyring==24.3.1
lockfile==0.12.2
matplotlib==3.9.2
mock==5.1.0
numpy==2.1.3
pandas==2.2.3
Pillow==11.0.0
plotly==5.22.0
protobuf==5.28.3
pykalman==0.9.7
pymongo==4.10.1
pyOpenSSL==24.2.1
railroad==0.5.0
scikit_learn==1.1.3
Sphinx==8.1.3
statsmodels==0.14.2
thread==2.0.5
tornado==6.4.1
tqdm==4.66.5
trove_classifiers==2024.10.21.16
truststore==0.10.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
yfinance==0.2.48
